# API Kulcsok és érzékeny adatok
.env
secrets.txt
*.env
*.secret

# PHP
*.php~

# Node modules
node_modules/

# Logs
*.log
npm-debug.log*

# OS fájlok
.DS_Store
Thumbs.db
*.txt

# Temp fájlok
*.tmp
*.temp
